
body {
    background: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
}
.user {
    width: 900px;
    height: 600px;
    background: white;
    border: solid 1px #e5e5e5;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 50px;

}
.user__content {
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;

}
.user__block {
    width: 800px;
    display: flex;
    justify-content: center;
    margin-left: 30px;
}


.user__title {
    font-size: 24px;
    font-weight: bold;
}
.user__logo {
    width: 400px;

}

.text-field {
    margin-bottom: 1rem;
    margin-top: 20px;
    width: 250px;
}

.text-field__label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;

}

.text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.btn-register {
    background-color: #3b71ca;
    border-radius: 0.25rem;
    color: white;
    margin-top: 10px;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.btn-login {
    background-color: #3b71ca;
    border-radius: 0.25rem;
    color: white;
    margin-top: 10px;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.btn-login:hover {
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.button:hover {
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text__error {
    font-size: 8px;
    color: #7c0000;
    font-weight: bold;
}

.error {
    border: 2px solid red;
}



@media screen and (max-width: 767px){
    .user__logo {
        visibility: hidden;
    }
    .user {
        width: 370px;
    }
    .user__block {
        width: 350px;

    }


}


@media screen and (max-width: 575px){

}